<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>About Us</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
    <div th:insert="~{includes/nav}"></div>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <h2>Team Spring Boot</h2>
                    <h3>A hands-on creative with more than 16 years design experience.</h3>
                    <p>Team Spring Boot has been responsible for bringing concepts to life for clients such as Nintendo,
                        Estée Lauder, Oxfam, Scribner, Sony, and many others. Their work has been recognized
                        by One Show, ADC, Webby Awards, and Cannes Lions. </p>
                    <p>When Team Spring Boot isn't busy educating people
                        on the difference between fonts and typefaces, they can be found taking part in competitive
                        tickling competitions across the UK.</p>
                </div>
            </div>
        </section>
        <div th:insert="~{includes/footer}"></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
